---
- hosts: all
  become: yes
  tasks:
    - name: Mark git repo as safe
      command: git config --global --add safe.directory /var/www/openmis-admin-portal/openimis_admin_ui

    - name: Pull latest code
      git:
        repo: "git@github.com:Loui4/openimis_admin_ui.git"
        dest: /var/www/openmis-admin-portal/openimis_admin_ui
        version: main

    - name: Install dependencies
      command: npm install
      args:
        chdir: var/www/openmis-admin-portal/openimis_admin_ui
    - name: Build app
      command: npm run build
      args:
        chdir: var/www/openmis-admin-portal/openimis_admin_ui

    - name: stop pm2 processes
      command: pm2 delete openimis-ui
    
    - name: start pm2 processes
      command: PORT=3000 pm2 start npm --name "openimis-ui" -- start
    